@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import 'partials/mixins';
@import "partials/common";

header {
  color: #fff;
  padding-top: 40px;
  padding-bottom: 80px;
  background: url(../img/bg-header.jpg) no-repeat top center #252524;
}

.top-panel {
  display: flex;
  align-items: center;
  @include from('m') {
    justify-content: space-between;
  }
  @include to('s') {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .logo {
    margin-right: 20px;
  }
  .order {
    margin-right: 4px;
    color: #fff;
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
  .support {
    margin: 0;
    padding: 0;
    list-style: none;
    @include from('l') {
      li {
        display: inline-block;
      }
      .text-bold {
        margin-right: 65px;
      }
    }
    @include to('s') {
      margin: 30px 0;
    }
  }
}

.header-text-blocs {
  margin: 57px 0 60px;
  text-align: center;
  text-transform: uppercase;
  @include to('xs') {
    li {
      display: inline;
    }
  }
  @include from('s') {
    line-height: 1;
  }
  .text {
    margin: 0;
    padding: 0;
    list-style: none;
    @include from('s') {
      font-size: 80px;
      &-2 {
        font-size: 120px;
      }
      &-3 {
        margin: 5px 0;
        font-size: 40px;
      }
      &-4 {
        font-size: 40px;
      }
    }
  }
}

.statistics {
  display: flex;
  flex-wrap: wrap;
  @include from('m') {
    justify-content: center;
    .text-reg {
      font-size: 24px;
    }
  }
  @include to('s') {
    flex-direction: column;
    align-items: center;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    line-height: 1;
    @include clearfix;
    @include from('m') {
      &:not(:nth-of-type) {
        flex-basis: 50%;
      }
    }
  }
  li {
    position: relative;
  }
  .number {
    margin-right: 5px;
    @include from('m') {
      font-size: 72px;
      margin-right: 20px;
    }
  }
  .info {
    @include from('m') {
      font-size: 30px;
    }
    @include to('s') {
      display: inline;
    }
  }
  .statistics-seo {
    justify-content: flex-end;
    @include to('s') {
      padding: 30px 0;
    }
  }
  .statistics-budget {
    flex-basis: 100%;
    justify-content: center;
    @include from('m') {
      margin-top: 40px;
    }
  }
}

.section-block {
  padding-top: 30px;
  padding-bottom: 30px;
  @include from('m') {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  &__title {
    line-height: 1;
    margin: 0 0 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    @include GothamRegular;
    @include from('m') {
      font-size: 40px;
      margin-bottom: 40px;
    }
  }
}

.who-we {
  background-color: #fff;
}

.about-us {
  color: #fff;
  background: url("../img/bg-about.jpg") repeat center top #ca2e26;
  ::selection {
    background: #fff; /* Safari */
    color: #000;
  }
  ::-moz-selection {
    background: #fff; /* Firefox */
    color: #000;
  }
  &__numbers {
    margin: 0;
    padding: 0;
    list-style: none;
    @include from('m') {
      display: flex;
    }
    li {
      text-transform: uppercase;
      text-align: center;
      @include from('m') {
        padding: 0 40px;
        flex-basis: calc(100% / 3);
        &:not(:last-of-type) {
          border-right: 1px solid;
        }
      }
    }
    .number {
      margin-bottom: 15px;
      font-size: 48px;
    }
  }
}

.services {
  &-list {
    margin: 0 0 100px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    @include to('xs') {
      margin-bottom: 40px;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }
    li {
      outline: 1px solid #000;
      text-transform: uppercase;
      @include from('xs') {
        width: 247px;
      }
      span {
        height: 123px;
        outline: 1px solid #cb2e26;
        background-color: #fff;
        position: relative;
        top: -6px;
        left: -6px;
        cursor: pointer;
        transition: all .4s ease-in-out;
        display: flex;
        align-items: center;
        @include from('m') {
          padding-left: 45px;
        }
        @include to('s') {
          justify-content: center;
        }
        &:hover {
          top: 0;
          left: 0;
          color: #fff;
          background-color: #cb2e26;
        }
      }
    }
  }

  &-title {
    @include from('m') {
      margin-bottom: 80px;
    }
  }

  &-description {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      margin-bottom: 30px;
      @include from('m') {
        margin-bottom: 70px;
      }
      @include from('l') {
        @include clearfix;
        &:not(.center-block) {
          padding-right: 80px;
          .intro {
            padding-right: 80px;
            max-width: 420px;
            width: 100%;
            float: left;
          }
        }
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    .center-block {
      @include from('l') {
        .text {
          text-align: right;
        }
        .intro {
          max-width: 480px;
          width: 100%;
          padding-left: 80px;
          float: right;
          margin-bottom: 20px;
        }
      }
    }
    .intro {
      font-size: 30px;
      @include to('m') {
        margin-bottom: 20px;
      }
    }
  }
}

.clients {
  padding-bottom: 40px;
  border-top: 1px solid #e8e8e8;
  @include from('m') {
    padding-bottom: 100px;
  }
  &-logo {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    @include from('m') {
      justify-content: space-between;
    }
    @include to('s') {
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }
  li {
    align-self: center;
    @include to('s') {
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
  }
}

#application-services {
  color: #fff;
  background: url("../img/bg-order.jpg");
  &-title {
    margin-bottom: 40px;
  }
  p {
    margin-bottom: 50px;
    text-align: center;
  }
}

.feedback-form {
  width: 100%;
  margin: 0 auto;
  @include from('s') {
    max-width: 340px;
  }
  .button {
    width: 100%;
    span {
      padding: 15px 0;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
  text-align: center;
  @include to('s') {
    flex-direction: column;
    align-items: center;
    .company {
      margin: 30px 0;
    }
  }
  @include from('m') {
    .support {
      text-align: right;
    }
  }
  .as-link {
    color: #252524;
    border-bottom-color: #d5d5d5;
  }
}

.after-footer {
  padding-top: 50px;
  flex-basis: 100%;
  @include from('s') {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#modal-order {
  .close {
    color: #fff;
    opacity: .8;
  }
  .feedback-form {
    background: url(../img/bg-order.jpg) no-repeat center;
    background-size: cover;
    color: #fff;
    .form-control {
      padding-left: 10px;
    }
  }
  .form-label {
    left: 4%;
    white-space: nowrap;
  }
}

@include to('s') {
  .modal-title {
    font-size: 20px;
  }
  .modal-body {
    font-size: 16px;
  }
}
